
SwiftUICollaboration.xcodeproj/project.xcworkspace/xcuserdata/david.xcuserdatad/UserInterfaceState.xcuserstate
SwiftUICollaboration.xcodeproj/xcuserdata/david.xcuserdatad/xcschemes/xcschememanagement.plist
