
SwiftUICollaboration.xcodeproj/project.xcworkspace/xcuserdata/sesilitsikaridze.xcuserdatad/UserInterfaceState.xcuserstate
SwiftUICollaboration.xcodeproj/xcuserdata/sesilitsikaridze.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SwiftUICollaboration.xcodeproj/xcuserdata/sesilitsikaridze.xcuserdatad/xcschemes/xcschememanagement.plist
